* {
    padding: 0;
    margin: 0;
}

.button-all{
    background-color: rgb(62, 62, 225);
    color: white;
    border: none;
    font-size: 13px;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.navigation-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 70px;

}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    align-items: center;
}


.background-image{
    background-image: url(./assets/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    display: grid;
    grid-auto-rows: 400px 1fr;
    text-align: center;
    color: white;
    
}
.banner-content h1{
    font-size: 40px;
    margin-top: 50px;
}
.banner-content p{
    margin-top: 20px;
}